@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(116, 7%, 46%) ;
    box-shadow: hsl(0, 0%, 60%) ;
}
#calculator{
    max-width: 500px;
    overflow: hidden;
    border-radius: 15px;
    font-family: roboto-mono;
    background-color: hsl(0, 0%, 5%);
}

#display{
    position: relative;
    width: 100%;
    padding: 0%;
    font-size: 5rem;
    text-align: right;
    border: 2px;
    background-color: hsl(0, 0%, 6%);
    color:white;
}
hr{
    background-color: hsl(0, 0%, 10%);
    opacity: 25%;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px; /* gap between the rows */
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 75px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);

}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.calculate{
    background-color: green;
    color: black;
}
.calculate:hover{
    background-color: hsl(120, 100%, 35%);
    color: black;
}
.calculate:active{
    background-color: hsl(120, 100%, 45%);
}
.functions{
    color: green;
}
.clearAll{
    color: black;
    display:inline-block;
    grid-column: span 2;
    width: 100%;
    background-color: hsl(120, 100%, 25%);
}
.clearAll:hover{
    color: black;
    background-color: hsl(120, 100%, 35%);
}
.clearAll:active{
    background-color: hsl(120, 100%, 45%);
}

.zero{
    display:inline-block;
    grid-column:span 2;
    width: 100%;
}